:root {
    --card-width: 9em;
    --card-height: calc(9em * 1.4467);
    --width-height-offset: calc(9em * 0.4467 * 0.5);
    --overlap: 2em;
}

@media screen and (max-width: 1007px), screen and (max-height: 625px) {
    :root {
        --card-width: 7em;
        --card-height: calc(7em * 1.4467);
        --width-height-offset: calc(7em * 0.4467 * 0.5);
    }
}

@media screen and (max-width: 730px) {
    :root {
        --card-width: 5em;
        --card-height: calc(5em * 1.4467);
        --width-height-offset: calc(5em * 0.4467 * 0.5);
    }
}

body {
    padding: 0em;
    margin:0em;
    offset: none;
}

#table {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("./src/img/wood-texture.jpg");
}

.playfield {
    position: relative;
    height: calc(100vh - 2em);
    margin: 1em;
}

.card{
    position:relative;
    width: var(--card-width);
    height: var(--card-height);
    transform-style: preserve-3d;
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,.2);
    border-radius: 5%;
    transition: left 0.4s  ease-in-out,
            right 0.4s ease-in-out,
            top 0.4s ease-in-out,
            bottom 0.4s ease-in-out,
            transform 0.4s ease-in-out;
}

.card img{
    width : 100%;
    height: 100%;
}

.front{
    position: inherit;
    backface-visibility: hidden;
    border-radius: 5%;
    background-color: white;
    padding: 5%;
}

.back{
    position: inherit;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 5%;
    background-color: white;
    padding: 5%;
}


.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.deck{
    position: absolute;
    left: calc(50% - 0.5 * var(--card-width));
    top: calc(50% - 0.5 * var(--card-height));
    transform: rotateY(180deg);
}


.north {
    position: absolute;
    top: 0rem;
    left: calc(50% - 0.5 * var(--card-width) - var(--overlap));
    transform: rotateZ(180deg) rotateY(180deg);
    z-index: 1;
}

.north ~ .north{
    position: absolute;
    top: 0rem;
    left: calc(50% - 0.5 * var(--card-width));
    transform: rotateZ(180deg) rotateY(180deg);
    z-index: 2;
}

.north ~ .north ~ .north {
    position: absolute;
    top: 0rem;
    left: calc(50% - 0.5 * var(--card-width) + var(--overlap));
    transform: rotateZ(180deg) rotateY(180deg);
    z-index: 3;
}

.south {
    position: absolute;
    top: calc(100% - var(--card-height));
    left: calc(50% - 0.5 * var(--card-width) - var(--overlap));
    transform: rotateZ(0deg);
    z-index: 1;
}

.south ~ .south{
    position: absolute;
    top: calc(100% - var(--card-height));
    left: calc(50% - 0.5 * var(--card-width));
    transform: rotateZ(0deg);
    z-index: 2;
}

.south ~ .south ~ .south {
    position: absolute;
    top: calc(100% - var(--card-height));
    left: calc(50% - 0.5 * var(--card-width) + var(--overlap));
    transform: rotateZ(0deg);
    z-index: 3;
}

.west {
    position: absolute;
    left: var(--width-height-offset);
    top: calc(50% - 0.5 * var(--card-height) - var(--overlap));
    transform: rotateZ(90deg) rotateY(180deg);
    z-index: 1;
}

.west ~ .west{
    position: absolute;
    left: var(--width-height-offset);
    top: calc(50% - 0.5 * var(--card-height));
    transform: rotateZ(90deg) rotateY(180deg);
    z-index: 2;
}

.west ~ .west ~ .west{
    position: absolute;
    left: var(--width-height-offset);
    top: calc(50% - 0.5 * var(--card-height) + var(--overlap));
    transform: rotateZ(90deg) rotateY(180deg);
    z-index: 3;
}

.east {
    position: absolute;
    left: calc(100% - var(--card-height) + var(--width-height-offset));
    top: calc(50% - 0.5 * var(--card-height) - var(--overlap));
    transform: rotateZ(270deg) rotateY(180deg);
    z-index: 1;
}

.east ~ .east{
    position: absolute;
    left: calc(100% - var(--card-height) + var(--width-height-offset));
    top: calc(50% - 0.5 * var(--card-height));
    transform: rotateZ(270deg) rotateY(180deg);
    z-index: 2;
}

.east ~ .east ~ .east{
    position: absolute;
    left: calc(100% - var(--card-height) + var(--width-height-offset));
    top: calc(50% - 0.5 * var(--card-height) + var(--overlap));
    transform: rotateZ(270deg) rotateY(180deg);
    z-index: 3;
}

.center {
    position: absolute;
    left: calc(50% - 1.5 * var(--card-width) - 0.5em);
    top: calc(50% - 0.5 * var(--card-height));
    z-index: 4;
}

.center ~ .center{
    position: absolute;
    left: calc(50% - 0.5 * var(--card-width));
    top: calc(50% - 0.5 * var(--card-height));
    z-index: 5;
}

.center ~ .center ~ .center{
    position: absolute;
    left: calc(50% + 0.5 * var(--card-width) + 0.5em);
    top: calc(50% - 0.5 * var(--card-height));
    z-index: 6;
}

@media screen and (max-width: 550px) {
    .center{
        left: calc(50% - 0.5 * var(--card-width));
        top: calc(50% - 1.5 * var(--card-height) - 0.5em);
    }
    
    .center ~ .center ~ .center{
        left: calc(50% - 0.5 * var(--card-width));
        top: calc(50% + 0.5 * var(--card-height) + 0.5em);
    }
}

/* ---------------------------------------- OPEN ------------------------------------------------------ */

.north-open {
    position: absolute;
    top: 0rem;
    left: calc(50% - 0.5 * var(--card-width) - var(--overlap));
    transform: rotateZ(180deg);
    z-index: 1;
}

.north-open ~ .north-open{
    position: absolute;
    top: 0rem;
    left: calc(50% - 0.5 * var(--card-width));
    transform: rotateZ(180deg);
    z-index: 2;
}

.north-open ~ .north-open ~ .north-open {
    position: absolute;
    top: 0rem;
    left: calc(50% - 0.5 * var(--card-width) + var(--overlap));
    transform: rotateZ(180deg);
    z-index: 3;
}

.south-open {
    position: absolute;
    top: calc(100% - var(--card-height));
    left: calc(50% - 0.5 * var(--card-width) - var(--overlap));
    transform: rotateZ(0deg);
    z-index: 1;
}

.south-open ~ .south-open{
    position: absolute;
    top: calc(100% - var(--card-height));
    left: calc(50% - 0.5 * var(--card-width));
    transform: rotateZ(0deg);
    z-index: 2;
}

.south-open ~ .south-open ~ .south-open {
    position: absolute;
    top: calc(100% - var(--card-height));
    left: calc(50% - 0.5 * var(--card-width) + var(--overlap));
    transform: rotateZ(0deg);
    z-index: 3;
}

.west-open {
    position: absolute;
    left: var(--width-height-offset);
    top: calc(50% - 0.5 * var(--card-height) - var(--overlap));
    transform: rotateZ(90deg);
    z-index: 1;
}

.west-open ~ .west-open{
    position: absolute;
    left: var(--width-height-offset);
    top: calc(50% - 0.5 * var(--card-height));
    transform: rotateZ(90deg);
    z-index: 2;
}

.west-open ~ .west-open ~ .west-open{
    position: absolute;
    left: var(--width-height-offset);
    top: calc(50% - 0.5 * var(--card-height) + var(--overlap));
    transform: rotateZ(90deg);
    z-index: 3;
}

.east-open {
    position: absolute;
    left: calc(100% - var(--card-height) + var(--width-height-offset));
    top: calc(50% - 0.5 * var(--card-height) - var(--overlap));
    transform: rotateZ(270deg);
    z-index: 1;
}

.east-open ~ .east-open{
    position: absolute;
    left: calc(100% - var(--card-height) + var(--width-height-offset));
    top: calc(50% - 0.5 * var(--card-height));
    transform: rotateZ(270deg);
    z-index: 2;
}

.east-open ~ .east-open ~ .east-open{
    position: absolute;
    left: calc(100% - var(--card-height) + var(--width-height-offset));
    top: calc(50% - 0.5 * var(--card-height) + var(--overlap));
    transform: rotateZ(270deg);
    z-index: 3;
}

.center-open {
    position: absolute;
    left: calc(50% - 1.5 * var(--card-width) - 0.5em);
    top: calc(50% - 0.5 * var(--card-height));
    z-index: 1;
}

.center-open ~ .center-open{
    position: absolute;
    left: calc(50% - 0.5 * var(--card-width));
    top: calc(50% - 0.5 * var(--card-height));
    z-index: 2;
}

.center-open ~ .center-open ~ .center-open{
    position: absolute;
    left: calc(50% + 0.5 * var(--card-width) + 0.5em);
    top: calc(50% - 0.5 * var(--card-height));
    z-index: 3;
}

@media screen and (max-width: 550px) {
    .center-open{
        left: calc(50% - 0.5 * var(--card-width));
        top: calc(50% - 1.5 * var(--card-height) - 0.5em);
    }
    
    .center-open ~ .center-open ~ .center-open{
        left: calc(50% - 0.5 * var(--card-width));
        top: calc(50% + 0.5 * var(--card-height) + 0.5em);
    }
}

/* ------------------------------------------------------------------------------------------------------- */

.flipped {
    transform: rotateY(180deg);
}

.center:hover {
    top: calc(50% - 0.5 * var(--card-height) - 3em);
}

.center ~ .center:hover {
    top: calc(50% - 0.5 * var(--card-height) - 3em);
}

.center.clicked {
    top: calc(50% - 0.5 * var(--card-height) - 3em);
}

.center ~ .center.clicked {
    top: calc(50% - 0.5 * var(--card-height) - 3em);
}

@media screen and (max-width: 550px) {

    .center:hover {
        left: calc(50% - 0.5 * var(--card-width) - 3em);
        top: calc(50% - 1.5 * var(--card-height) - 0.5em);
    }
    
    .center ~ .center:hover {
        left: calc(50% - 0.5 * var(--card-width) - 3em);
        top: calc(50% - 0.5 * var(--card-height));
    }

    .center ~ .center ~ .center:hover {
        left: calc(50% - 0.5 * var(--card-width) - 3em);
        top: calc(50% + 0.5 * var(--card-height) + 0.5em);
    }
    
    .center.clicked {
        left: calc(50% - 0.5 * var(--card-width) - 3em);
        top: calc(50% - 1.5 * var(--card-height) - 0.5em);
    }
    
    .center ~ .center.clicked {
        left: calc(50% - 0.5 * var(--card-width) - 3em);
        top: calc(50% - 0.5 * var(--card-height));
    }

    .center ~ .center ~ .center.clicked {
        left: calc(50% - 0.5 * var(--card-width) - 3em);
        top: calc(50% + 0.5 * var(--card-height) + 0.5em);
    }
}

.south:hover {
    top: calc(100% - 3em - var(--card-height));
}

.south ~ .south:hover {
    top: calc(100% - 3em - var(--card-height));
}

.south.clicked {
    top: calc(100% - 3em - var(--card-height));
}

.south ~ .south.clicked {
    top: calc(100% - 3em - var(--card-height));
}

.label-wrapper {
    width: 15em;
    height: var(--card-height);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-label {
    width: 100%;
    margin: auto 0;
    padding: 0.2em;
    background-color: black;
    font-family: "Shadows Into Light";
    font-size:xx-large;
    font-weight: 600;
    color: white;
    text-align: center;
}

#last-turn {
    position: absolute;
    width: 15em;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0em;
    left: 50%;
    transform: translate(-50%, 0);
}


@media screen and (max-width: 1007px), screen and (max-height: 625px) {
    .label-wrapper {
        width: 12.5em;
        height: var(--card-height);
    }
    #last-turn {
        width: 12.5em;
    }
    .player-label{
        font-size: x-large;
    }
}

@media screen and (max-width: 730px) {
    .label-wrapper {
        width: 10em;
        height: var(--card-height);
    }
    #last-turn {
        width: 10em;
    }
    .player-label{
        font-size: larger;
    }
}

.player-active {
    background-color: white;
    color: black;
}

.player-pass {
    background-color: red;
    color: white;
}

.player-wins {
    background-color: green;
    color: white;
}

.player-south{
    position: absolute;
    bottom: 0em;
    left: 50%;
    transform: translate(-50%, 0);
}

.player-west{
    position: absolute;
    left: calc(-0.5 * var(--width-height-offset));
    top: 50%;
    transform: translate(0, -50%) rotateZ(90deg);
}

.player-north{
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, 0);
}

.player-east{
    position: absolute;
    right: calc(-0.5 * var(--width-height-offset)); 
    top: 50%;
    transform: translate(0, -50%) rotateZ(270deg);
}

@media screen and (max-width: 1007px), screen and (max-height: 625px) {
    .player-west{
        left: calc(-0.6 * var(--width-height-offset)); 
    }
    .player-east{
        right: calc(-0.6 * var(--width-height-offset)); 
    }
}

@media screen and (max-width: 730px) {
    .player-west{
        left: calc(-1.2 * var(--width-height-offset)); 
    }
    .player-east{
        right: calc(-1.2 * var(--width-height-offset)); 
    }
}

#btn-wrapper{
    position: absolute;
    max-height: var(--card-height);
    z-index: 200;
    bottom: 0em;
    left: 50%;
    transform: translate(110%, 0);
    display: grid;
    row-gap: 0.5em;
    grid-auto-rows: auto;

}


#play-cards-btn{
    background-color: blue;
    color: white;
    padding: 1em;
    border-width: 0px;
    font-size: large;
    font-weight: 600;
}

#player-pass-btn{
    background-color: red;
    color: white;
    padding: 1em;
    border-width: 0px;
    font-size: large;
    font-weight: 600;
}

#swap-bank-btn{
    background-color: orange;
    color: black;
    padding: 1em;
    border-width: 0px;
    font-size: large;
    font-weight: 600;

}

@media screen and (max-width: 1007px), screen and (max-height: 625px) {
    #play-cards-btn{
        font-size: smaller;
        font-weight: 600;
    }
    #player-pass-btn{
        font-size: smaller;
        font-weight: 600;
    }
    #swap-bank-btn{
        font-size: smaller;
        font-weight: 600;
    }
}

@media screen and (max-width: 730px) {
    #play-cards-btn{
        font-size:x-small;
        font-weight: 600;
    }
    #player-pass-btn{
        font-size:x-small;
        font-weight: 600;
    }
    #swap-bank-btn{
        font-size:x-small;
        font-weight: 600;
    }
}


#notepad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
}

.notepad-img {
    filter:drop-shadow(-0.3em 0.3em 0.8em);
    max-width: 70%;
}

.notepad {
    position:absolute;
    top: 20%;
    left: 6%;
    width:50%
}

.notepad-title {
    text-align: center;
    font-family: "Shadows Into Light", cursive;
    font-size: xx-large;
    font-weight: 400;
    font-style: normal;
}

.notepad-text{
    text-align: center;
    font-family: "Shadows Into Light", cursive;
    font-size: x-large;
    font-weight: 400;
    font-style: normal;
}

.notepad-btn {
    width: 100%;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: white;
    background-color: blue;
}

.scoreboard{
    z-index: 200;
}

.scoreboard-btns {
    width: 48%;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: white;
    font-size:small ;
}

@media screen and (max-width: 1007px), screen and (max-height: 625px) {
    .notepad-title {
        font-size: larger;
    }
    .notepad-text{
        font-size: large;
    }
    .notepad-btn{
        font-size: x-small;
    }
    .scoreboard-btns {
        font-size: x-small;
    }
}

@media screen and (max-width: 730px) {
    #notepad {
        transform: translate(-45%, -50%);
    }
    .notepad-img {
        max-width: 100%;
    }
    .notepad {
        width: 70%;
        left: 9%;
    }
    .notepad-title {
        font-size: large;
    }
    .notepad-text{
        font-size:small;
    }
    .notepad-btn{
        font-size: xx-small;
    }
    .scoreboard-btns {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size:xx-small;
    }
}

#player-name-input {
    padding: 0;
    border: 0;
    width: 100%;
    line-height: 4em;
    text-align: center;
    border-bottom: 1px dotted rgb(146, 180, 253);
    background-color: rgb(248, 248, 248);
}


#next-game-btn{
    background-color: blue;
}

#leave-game-btn{
    background-color: red;
}

#cup-01 {
    position: absolute;
    top: 3%;
    left: 6%; 
    transform: rotate(200deg);
    max-width: 20%;
    filter:drop-shadow(-0.3em 0.3em 0.8em);
}

#cup-02 {
    position: absolute;
    bottom: 4%;
    right: 6%; 
    transform: rotate(0deg);
    max-width: 20%;
    filter:drop-shadow(-0.3em 0.3em 0.8em);
}

#cup-03 {
    position: absolute;
    top: 1%;
    right: 3%; 
    transform: rotate(310deg);
    max-width: 20%;
    filter:drop-shadow(-0.3em 0.3em 0.8em);
}

#cup-04 {
    position: absolute;
    bottom: 1%;
    left: 2%; 
    transform: rotate(130deg);
    max-width: 20%;
    filter:drop-shadow(-0.3em 0.3em 0.8em);
}

/* #test {
    width: 0;
} */

